.vacant_task {
    font-size: 1.5em;
    color: green;
}

.in_work_task {
    font-size: 1.5em;
    color: red;
}

.title_create_task {
    font-size: 2em;
    font-weight: bold;
}

.container{
    height: 500px;
    display:table;
    width: 100%;
    padding: 0;
}

.row {
    height:100%;
    display:table-cell;
    vertical-align: middle;
}

.center {
    float:none;
    margin:0 auto;
}

#preview_block {
    display: none;
}